@mixin only-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1366px) {
    @content;
  }
}

.container {
  padding: 0 4.69%;

  @include tablet {
    padding: 0 5.86%;
  }

  @include desktop {
    padding: 0 7.17%;

    &--lg {
      padding: 0 14.5%;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
  color: #1a212f;
}

h2,
h3 {
  margin: 0;

  font-family: "Rubik", sans-serif;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  color: inherit;

  text-decoration: none;

  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

img {
  width: 100%;
  height: 100%;
}

button {
  padding: 0;

  border: none;
  background-color: transparent;
}

.phone {
  margin-bottom: 21px;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.185;
}

.site-logo {
  display: block;
  width: 46px;

  font-size: 0;
}

@include tablet {
  .site-logo {
    width: 63px;
  }
}

.site-nav {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 12px;
    margin-bottom: 12px;

    .site-nav__item:not(:last-child) {
      margin-right: 26px;
    }
  }
}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.header {
  position: relative;

  background-color: #fffefd;

  @include only-mobile {
    box-sizing: border-box;
    min-height: 62px;
    padding-top: 12px;
    padding-bottom: 12px;

    .site-nav__wrapper {
      margin-bottom: 32px;
    }

    .site-nav__list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      font-family: "Rubik", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.185;
    }
  }

  .phone,
  .social,
  .header__menu--close,
  .site-nav__wrapper {
    display: none;
  }

  &--fullscreen {
    height: 100vh;

    overflow-y: scroll;

    background-color: #fac663;

    .site-logo {
      margin-bottom: 46px;
    }

    .phone,
    .header__menu--close,
    .site-nav__wrapper {
      display: block;
    }

    .social {
      display: flex;
    }

    .header__menu--open {
      display: none;
    }
  }

  @include tablet {
    .site-nav__wrapper {
      display: block;
    }
  }
}

.header__menu {
  position: absolute;

  &--open {
    top: 21px;
    right: 15px;

    width: 23px;
    height: 21px;

    background-image: url("./images/menu.svg");
    background-size: 24px 20px;
    background-repeat: no-repeat;
  }

  &--close {
    top: 25px;
    right: 25px;

    width: 14px;
    height: 14px;

    background-image: url("./images/close.svg");
    background-size: 14px;
    background-repeat: no-repeat;
  }

  @include tablet {
    display: none;
  }
}

.address {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    min-height: 522px;
  }

  @include desktop {
    min-height: 580px;
  }

  h2 {
    margin-bottom: 29px;

    font-size: 28px;
    line-height: 1.185;

    @include tablet {
      margin-bottom: 27px;

      font-size: 36px;
    }

    @include desktop {
      margin-bottom: 38px;
    }
  }

  .social__item.social__item:not(:last-child) {
    margin-right: 18px;
  }
}

.address__wrapper {
  padding-top: 34px;
  padding-bottom: 34px;

  background-color: #fac663;

  @include tablet {
    box-sizing: border-box;
    min-width: 48%;
    padding-top: 52px;
    padding-bottom: 52px;
  }

  @include desktop {
    min-width: 41.6%;
    padding: 62px 0;
    padding-left: 14.5%;
  }
}

.address__item {
  margin-bottom: 22px;

  font-size: 15px;
  line-height: 18px;

  @include desktop {
    margin-bottom: 29px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 10px;

    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }

  p,
  a {
    margin: 0;

    font-size: 15px;
    line-height: 18px;
  }
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.map {
  width: 100vw;
  height: 300px;

  @include tablet {
    flex-grow: 1;
    height: auto;
  }
}

.footer {
  margin: 30px 0 26px;

  background-color: #fffefd;

  .site-logo {
    margin-bottom: 21px;
  }

  @include tablet {
    margin: 0;

    .site-logo {
      margin-bottom: 0;
    }
  }
}

.site-nav--footer {
  @include only-mobile {
    margin-bottom: 26px;

    .site-nav__list {
      margin-top: -13px;
    }

    .site-nav__item {
      width: 130px;
      margin-top: 13px;
    }
  }
}

.footer__bottom {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding-top: 14px;

  font-size: 12px;
  line-height: 1.2;
  color: #8f8f8f;

  border-top: 1px solid #efefef;

  @include tablet {
    margin-top: -1px;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.footer__copyright {
  padding-left: 14px;

  background-image: url("./images/copyright.svg");
  background-position: 0 2px;
  background-size: 9px 9px;
  background-repeat: no-repeat;
}
