body {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
}

h2, h3 {
  font-family: "Rubik", sans-serif;
}

.header,
.footer {
  display: none;
}

.site-logo {
  width: 46px;
}

@media (min-width: 768px) {
  .site-logo {
    width: 63px;
  }
}

.nav__list {
  color: orange;

  .nav__item {
    background: #000;
  }
}

.address {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 522px;    
  }

  @media (min-width: 1366px) {
    min-height: 580px;  
  }

  h2 {
    font-size: 28px;
  }
}

.map {
  width: 100vw;
  height: 300px;

  @media (min-width: 768px) {
    height: auto;  
  }
}
